<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<logger name="hexa.erp">
		<level value="info" />
	</logger>
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- 실행 SQL과 소요 시간만 표시하고 JDBC 메서드/결과 행 로그는 줄인다. -->
	<logger name="jdbc.sqltiming">
		<level value="info" />
	</logger>
	<logger name="jdbc.sqlonly">
		<level value="warn" />
	</logger>
	<logger name="jdbc.audit">
		<level value="warn" />
	</logger>
	<logger name="jdbc.resultset">
		<level value="warn" />
	</logger>
	<logger name="jdbc.resultsettable">
		<level value="warn" />
	</logger>
	<logger name="jdbc.connection">
		<level value="warn" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
